/* This is where you can change fonts and sizes */


/*****-- Fonts Size and Font Size -----*****/
configuration {
font: "JetBrainsMono Nerd Font 13";
}


/*****-- Elements Font Size -----*****/
element-text {
font: "JetBrainsMono Nerd Font 11";
}
