/* Clipboard Config - Clipboard */

@import "~/.config/rofi/config.rasi" 

/* ---- Entry ---- */
entry {
  width: 37%;
  placeholder: "   Clipboard Manager";
	font: "JetBrains Mono 12";
}

/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 8;
}
