[Desktop Entry]
Type=Application
Exec=foot --server
Icon=foot
Terminal=false
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;commandline;

Name=Foot Server
GenericName=Terminal
Comment=A wayland native terminal emulator (server)
