[Desktop Entry]
Name[an]=Monitor d'o sistema d'o GNOME
Name[ar]=مراقب نظام جنوم
Name[as]=GNOME চিস্টেম মনিটৰ
Name[be]=Сістэмны манітор GNOME
Name[bg]=Наблюдение на системата
Name[bn_IN]=GNOME সিস্টেম মনিটর
Name[bs]=GNOME Monitor Sistema
Name[ca]=Monitor del sistema del GNOME
Name[ca@valencia]=Monitor del sistema del GNOME
Name[cs]=Sledování systému GNOME
Name[da]=GNOME Systemovervågning
Name[de]=GNOME Systemüberwachung
Name[el]=Παρακολούθηση συστήματος GNOME
Name[en_GB]=GNOME System Monitor
Name[eo]=GNOME Sistemmonitoro
Name[es]=Monitor del sistema de GNOME
Name[et]=GNOME süsteemijälgija
Name[eu]=GNOMEren sistemaren monitorea
Name[fa]=پایشگر سامانه‌ٔ گنوم
Name[fi]=Gnomen järjestelmän valvonta
Name[fr]=Moniteur système de GNOME
Name[fur]=Monitor di sisteme GNOME
Name[ga]=Monatóir an Chórais GNOME
Name[gd]=Monatair an t-siostaim GNOME
Name[gl]=Monitor do sistema de GNOME
Name[gu]=GNOME સિસ્ટમ મૉનિટર
Name[he]=צג המערכת מבית GNOME
Name[hi]=गनोम सिस्टम मॉनीटर
Name[hr]=GNOME nadgledatelj sustava
Name[hu]=GNOME rendszerfigyelő
Name[id]=GNOME Monitor Sistem
Name[ie]=Monitor del sistema GNOME
Name[is]=GNOME Kerfisvakt
Name[it]=Monitor di sistema GNOME
Name[ja]=GNOME システムモニター
Name[ka]=GNOME სისტემური მონიტორი
Name[kab]=Asefrak n unagraw GNOME
Name[kk]=GNOME жүйелік бақылаушысы
Name[km]=កម្មវិធី​ត្រួតពិនិត្យ​ប្រព័ន្ធ​របស់ GNOME
Name[kn]=GNOME ಗಣಕ ಮೇಲ್ವಿಚಾರಕ
Name[ko]=그놈 시스템 정보
Name[ky]=GNOME тутум монитору
Name[lt]=GNOME sistemos monitorius
Name[lv]=GNOME sistēmas pārraugs
Name[mjw]=GNOME System Monitor
Name[ml]=ഗ്നോം സിസ്റ്റം നിരീക്ഷകന്‍
Name[mr]=GNOME सिस्टम मॉनिटर
Name[ms]=Pemantau Sistem GNOME
Name[nb]=GNOME systemovervåking
Name[ne]=जिनोम प्रणाली निगरानी
Name[nl]=GNOME Systeemmonitor
Name[oc]=Monitor sistèma GNOME
Name[or]=GNOME ତନ୍ତ୍ର ପ୍ରଦର୍ଶିକା
Name[pa]=ਗਨੋਮ ਸਿਸਟਮ ਨਿਗਰਾਨ
Name[pl]=Monitor systemu GNOME
Name[pt]=Monitor de sistema do GNOME
Name[pt_BR]=Monitor do sistema GNOME
Name[ro]=Monitor de sistem GNOME
Name[ru]=Системный монитор среды GNOME
Name[sk]=GNOME monitor systému
Name[sl]=Sistemski nadzornik za GNOME
Name[sr]=Гномов пратилац система
Name[sr@latin]=Gnomov pratilac sistema
Name[sv]=GNOME Systemövervakare
Name[ta]=GNOME கணினி கண்காணிப்புக் கருவி
Name[te]=గ్నోమ్ వ్యవస్థ పర్యవేక్షకం
Name[tg]=Монитори системаи GNOME
Name[th]=เครื่องมือเฝ้าสังเกตระบบของ GNOME
Name[tr]=GNOME Sistem Gözlemcisi
Name[ug]=گىنوم سىستېما كۆزەتكۈچ
Name[uk]=Системний монітор GNOME
Name[uz]=GNOME tizim monitori
Name[vi]=Theo dõi hệ thống GNOME
Name[zh_CN]=GNOME 系统监视器
Name[zh_HK]=GNOME 系統監控程式
Name[zh_TW]=GNOME 系統監控
Name=GNOME System Monitor
Comment[an]=Veyer os procesos actuals y monitorizar o estau d'o sistema
Comment[ar]=اعرض العمليات الحالية و راقب حالة النظام
Comment[as]=বৰ্তমান প্ৰক্ৰিয়াসমূহ চাওক আৰু চিস্টেমৰ অবস্থা নিৰীক্ষণ কৰক
Comment[ast]=Adicar los procesos autuales y monitorizar l'estáu del sistema
Comment[az]=Hazırda baş verən gedişatları göstər və sistemin vəziyyətinə nəzarət et
Comment[be]=Прагляд актыўных працэсаў і назіранне за станам сістэмы
Comment[be@latin]=Prahladaj dziejnyja pracesy i adsočvaj stan systemy
Comment[bg]=Показване на текущите процеси и следене на състоянието на системата
Comment[bn]=বর্তমান প্রসেস দেখুন ও সিস্টেমের অবস্থা পর্যবেক্ষন করুন
Comment[bn_IN]=চলমান প্রসেস দেখুন ও সিস্টেমের অবস্থা নিরীক্ষণ করুন
Comment[bs]=Pregled trenutnih procesa i nadzor stanja sistema
Comment[ca]=Visualitza els processos actuals i supervisa l'estat del sistema
Comment[ca@valencia]=Visualitza els processos actuals i supervisa l'estat del sistema
Comment[cs]=Zobrazit aktuální procesy a sledovat stav systému
Comment[cy]=Gweld prosesau cyfredol ac arsylwi cyflwr y system
Comment[da]=Vis aktive processer og overvåg systemets status
Comment[de]=Momentan laufende Prozesse betrachten und den Systemzustand überwachen
Comment[dz]=ད་ལྟོའི་ལས་སྦྱོར་དང་ ལྟ་རྟོག་རིམ་ལུགས་ཀྱི་ གནས་ལུགས་སྟོན།
Comment[el]=Προβολή τρεχουσών διεργασιών και παρακολούθηση κατάστασης συστήματος
Comment[en_CA]=View current processes and monitor system state
Comment[en_GB]=View current processes and monitor system state
Comment[en@shaw]=𐑝𐑿 𐑒𐑳𐑮𐑩𐑯𐑑 𐑐𐑮𐑴𐑕𐑧𐑕𐑩𐑟 𐑯 𐑥𐑪𐑯𐑦𐑑𐑼 𐑕𐑦𐑕𐑑𐑩𐑥 𐑕𐑑𐑱𐑑
Comment[eo]=Montras aktualajn procezojn kaj sistemstaton
Comment[es]=Vea los procesos actuales y monitorizar el estado del sistema
Comment[et]=Süsteemi oleku ja protsesside jälgimine
Comment[eu]=Ikusi uneko prozesuak eta monitorizatu sistemaren egoera
Comment[fa]=دیدن فرایند‌های جاری و پایش حالت سامانه
Comment[fi]=Katsele aktiivisia prosesseja ja valvo järjestelmän tilaa
Comment[fr]=Afficher les processus en cours et surveiller l’état du système
Comment[fur]=Visualize i procès curints e controle il stât dal sisteme
Comment[ga]=Taispeáin próisis reatha agus déan monatóireacht ar staid an chórais
Comment[gd]=Seall na pròiseasan làithreach agus cum sùil air staid an t-siostaim
Comment[gl]=Ver os procesos actuais e monitorizar o estado do sistema
Comment[gu]=વર્તમાન પ્રક્રિયાને જુઓ અને સિસ્ટમની સ્થિતિનું ધ્યાન રાખો
Comment[he]=הצגת התהליכים הנוכחיים ומעקב אחר מצב המערכת
Comment[hi]=वर्तमान प्रक्रिया दिखाता है और सिस्टम अवस्था मॉनीटर करता है
Comment[hr]=Pregled trenutnih procesa i nadzor stanja sustava
Comment[hu]=A jelenlegi folyamatok megtekintése és a rendszerállapot figyelése
Comment[id]=Melihat proses yang sedang berjalan serta memantau keadaan sistem
Comment[is]=Skoða stöðu kerfisins og keyrandi ferli
Comment[it]=Visualizza i processi correnti e controlla lo stato del sistema
Comment[ja]=現在のプロセスを表示してシステムの状態を監視します
Comment[ka]=მიმდინარე პროცესების დათვალიერება და სისტემის მდგომარეობის მონიტორინგი
Comment[kab]=Wali akal n melmi kan akked waddad n unagraw n usefrak
Comment[kk]=Ағымдағы үрдістерді қарау және жүйе қалып-күйін бақылау
Comment[km]=មើល​ដំណើរការ​បច្ចុប្បន្ន និង​ត្រួតពិនិត្យ​ស្ថានភាព​ប្រព័ន្ធ
Comment[kn]=ಪ್ರಸಕ್ತ ಪ್ರಕ್ರಿಯೆಗಳು ಹಾಗು ಮೇಲ್ವಿಚಾರಣ ವ್ಯವಸ್ಥೆಯ ಸ್ಥಿತಿಯನ್ನು ನೋಡಿ
Comment[ko]=현재 프로세스와 시스템 상태를 봅니다
Comment[ky]=Кезектеги жараяндарды көрүү жана тутумдун абалын көзөмөлдөө
Comment[li]=Tuin huijig proses en bekiek systeemtoesjtandj
Comment[lt]=Rodo šiuo metu paleistus procesus ir sistemos būseną
Comment[lv]=Skatīt pašreizējos procesus un pārraudzīt sistēmas stāvokli
Comment[mai]=वर्तमान प्रक्रिया देखबैत अछि आओर सिस्टम अवस्था मानीटर करैत अछि
Comment[mg]=Hijery ireo asa mandeha sy ny toetry ny rafitr'ilay mpanara-maso amin'izao fotoana izao
Comment[mk]=Погледни ги моментално активните процеси и состојбата на системот
Comment[ml]=നിലവിലുളള പ്രക്രിയകള്‍ വീക്ഷിക്കുകയും സിസ്റ്റത്തിന്റെ അവസ്ഥ നിരീക്ഷിക്കുകയും ചെയ്യുന്നു
Comment[mn]=Идэвхитэй процессуудыг харах ба системын төлвийг шалгах
Comment[mr]=चालू प्रक्रिया पहा आणि प्रणाली स्थिती मॉनिटर करा
Comment[ms]=Lihat proses semasa dan pantau keadaan sistem
Comment[nb]=Vis aktive prosesser og overvåk systemets tilstand
Comment[nds]=Aktuelle Prozesse un Systemtostandsmonitor opwiesen
Comment[ne]=हालका प्रक्रिया र मोनिटर प्रणाली स्थिति हेर्नुहोस्
Comment[nl]=Bekijk actieve processen bekijken en beheer de systeemstatus
Comment[nn]=Vis aktive prosessar og overvak systemtilstanden
Comment[oc]=Afichar los procèssus en cors e susvelhar l'estat del sistèma
Comment[or]=ପ୍ରଚଳିତ ପ୍ରକ୍ରିୟାକୁ ଦେଖନ୍ତୁ ଏବଂ ତନ୍ତ୍ର ସ୍ଥିତି ଉପରେ ଦୃଷ୍ଟି ରଖନ୍ତୁ
Comment[pa]=ਮੌਜੂਦਾ ਪਰੋਸੈੱਸ ਵੇਖੋ ਅਤੇ ਸਿਸਟਮ ਹਾਲਤ ਦੀ ਨਿਗਰਾਨੀ
Comment[pl]=Wyświetlanie istniejących procesów i monitorowanie stanu systemu
Comment[ps]=اوسني بهيرونه ليدل او غونډال انکړ څارل
Comment[pt]=Ver processos em curso e monitorizar o estado do sistema
Comment[pt_BR]=Veja os processos atuais e monitore o estado do sistema
Comment[ro]=Arată procesele curente și monitorizează starea sistemului
Comment[ru]=Просмотр текущих процессов и мониторинг состояния системы
Comment[si]=දැනට ඇති සැකසුම් දර්ශනය සහ පද්ධති තත්වය නිරීක්‍ෂණය
Comment[sk]=Zobrazuje aktuálne procesy a monitoruje stav systému
Comment[sl]=Ogled trenutnih opravil in nadzor stanja sistema
Comment[sq]=Shfaq proçeset aktualë dhe monitoron gjëndjen e sistemit
Comment[sr]=Прегледајте текуће процесе и пратите стање система
Comment[sr@latin]=Pregledajte tekuće procese i pratite stanje sistema
Comment[sv]=Visa aktuella processer och övervaka systemtillståndet
Comment[ta]=தற்போதைய செயல் மற்றும் கணினியின் நிலையை பார்க்கவும்
Comment[te]=ప్రస్తుత ప్రోసెస్ దర్శించు మరియు వ్యవస్థ స్థితిని పర్యవేక్షించు
Comment[tg]=Намоиши равандҳои ҷорӣ ва назорати ҳолати система
Comment[th]=แสดงโพรเซสปัจจุบันและเฝ้าสังเกตสถานะของระบบ
Comment[tr]=Çalışan süreçleri ve sistem durumunu gösterir
Comment[ug]=نۆۋەتتىكى ئىجرالارنى كۆرۈش ۋە سىستېما ھالىتىنى كۆزىتىش
Comment[uk]=Перегляд поточних процесів та контроль стану системи
Comment[uz]=Joriy jarayonlarni ko’ring va tizim holatini kuzatib boring
Comment[vi]=Xem các tiến trình hiện đang chạy và theo dõi tình trạng hệ thống
Comment[zh_CN]=查看当前进程及监视系统状态
Comment[zh_HK]=顯示目前的程序並監控系統的狀態
Comment[zh_TW]=檢視執行中的程序與監控系統運作狀況
Comment=View current processes and monitor system state
TryExec=gnome-system-monitor
Exec=gnome-system-monitor
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.SystemMonitor
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=gnome-system-monitor
Categories=GNOME;GTK;System;Monitor;
OnlyShowIn=KDE;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[an]=Monitor;Sistema;Proceso;CPU;Memoria;Ret;Historico;Uso;
Keywords[ar]=مراقب;مرقاب;نظام;عملية;معالج;ذاكرة;شبكة;تأريخ;تاريخ;استخدام;
Keywords[as]=মনিটৰ;চিস্টেম;প্ৰক্ৰিয়া;CPU;মেমৰি;নেটৱৰ্ক;ইতিহাস;ব্যৱহাৰ;
Keywords[be]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Назіральнік;Манітор;Працэс;Працэсар;ЦП;CPU;Памяць;Сетка;Сеціва;Гісторыя;Рэсурсы;Выкарыстанне;
Keywords[bg]=monitor;system;process;cpu;memory;network;history;usage;наблюдение;система;процеси;процесори;памет;мрежа;история;използване;
Keywords[bn_IN]=মনিটর;সিস্টেম;প্রক্রিয়া;CPU;মেমরি;নেটওয়ার্ক;ইতিহাস;ব্যবহার;
Keywords[bs]=Monitor;Sistem;Proces;CPU;Memorija;Mreža;Historijat;Upotreba;
Keywords[ca]=Monitor;Sistema;Procés;CPU;Memòria;Xarxa;Història;Ús;
Keywords[ca@valencia]=Monitor;Sistema;Procés;CPU;Memòria;Xarxa;Història;Ús;
Keywords[cs]=Sledování;Systém;Proces;CPU;Procesor;Paměť;RAM;Síť;Historie;Využití;Zátěž;
Keywords[da]=Overvågning;System;Proces;CPU;Processor;Hukommelse;Netværk;Historik;Forbrug;
Keywords[de]=Überwachung;System;Prozess;CPU;Speicher;Netzwerk;Chronik;Last;
Keywords[el]=Παρακολούθηση;Σύστημα;Διεργασία;CPU;Μνήμη;Δίκτυο;Ιστορικό;Χρήση;Monitor;System;Process;CPU;Memory;Network;History;Usage;
Keywords[en_GB]=Monitor;System;Process;CPU;Memory;Network;History;Usage;
Keywords[eo]=Monitoro;Sistemo;Procezo;Ĉefprocesoro;Memoro;Reto;Historio;Uzo;
Keywords[es]=Monitor;Sistema;Proceso;CPU;Memoria;Red;Histórico;Uso;
Keywords[et]=Monitor;Süsteem;Protsess;Protsessor;CPU;Mälu;Võrk;Ajalugu;Kasutus;
Keywords[eu]=Monitorea;Sistema;Prozesua;PUZ;Memoria;Sarea;Historia;Erabilera;
Keywords[fa]=Monitor;System;Process;CPU;Memory;Network;History;Usage;نمایشگر;سامانه;پردازش;حافظه;شبکه;تاریخچه;استفاده;
Keywords[fi]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Tarkkaile;Järjestelmä;Prosessi;Suoritin;Muisti;Verkko;Historia;Käyttö;
Keywords[fr]=Moniteur;Système;Processus;CPU;Mémoire;Réseau;Historique;Utilisation;
Keywords[fur]=Monitor;Control;Sisteme;Procès;CPU;Memorie;Rêt;Cronologjie;Utilizazion;Ûs;
Keywords[ga]=Monatóir;Córas;Próiseas;LAP;Cuimhne;Líonra;Stair;Úsáid;
Keywords[gd]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Monatair;Siostam;Pròiseas;CPU;Cuimhne;Lìonra;Eachdraidh;Cleachdadh;
Keywords[gl]=Monitor;Sistema;Procesos;CPU;Memoria;Rede;Historial;Uso;
Keywords[gu]=મોનિટર;સિસ્ટમ;પ્રક્રિયા;CPU;મેમરી;નેટવર્ક;ઇતિહાસ;વપરાશ;
Keywords[he]=צג;מוניטור;מעקב;מערכת;תהליך;מעבד;זיכרון;זכרון;רשת;היסטוריה;שימוש;ניצולת;ניצול;
Keywords[hi]=मॉनिटर;सिस्टम;प्रक्रिया;सीपीयू;मेमोरी;नेटवर्क;इतिहास;उपयोग;
Keywords[hr]=Nadgledaj;Sustav;Proces;CPU;Memorija;Mreža;Povijest;Upotreba;
Keywords[hu]=Figyelő;Rendszer;Folyamat;CPU;Processzor;Memória;Hálózat;Előzmények;Használat;Erőforrás;Sávszélesség;
Keywords[id]=Pemantauan;Sistem;Proses;CPU;Memori;Jaringan;Riwayat;Pemakaian;Monitor;
Keywords[is]=Vöktun;Kerfi;Ferli;CPU;Örgjörvi:Minni;Netkerfi;Ferill;Notkun;
Keywords[it]=Monitor;Controllo;Sistema;Processo;Processi;CPU;Memoria;Network;Rete;Cronologia;Utilizzo;Uso;
Keywords[ja]=Monitor;System;Process;CPU;Memory;Network;History;Usage;モニター;システム;プロセス;メモリ;ネットワーク;履歴;使用量;
Keywords[ka]=Monitor;System;Process;CPU;Memory;Network;History;Usage;
Keywords[kab]=Asefrak;Anagraw;Akala;CPU;Takatut;Azeṭṭa;Azray;Useqdec;
Keywords[kk]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Бақылау;Жүйе;Үрдіс;Процессор;Жады;Желі;Тарихы;Қолданылуы;
Keywords[km]=ពិនិត្យ;ប្រព័ន្ធ;ដំណើរការ;ស៊ីភីយូ;អង្គចងចាំ;បណ្ដាញ;ប្រវត្តិ;ការ​ប្រើប្រាស់;
Keywords[kn]=ಮೇಲ್ವಿಚಾರಕ;ವ್ಯವಸ್ಥೆ;ಪ್ರಕ್ರಿಯೆ;CPU;ಮೆಮೊರಿ;ಜಾಲಬಂಧ;ಇತಿಹಾಸ;ಬಳಕೆ;
Keywords[ko]=Monitor;감시;System;시스템;Process;프로세스;CPU;Memory;메모리;Network;네트워크;History;기록;Usage;내역;
Keywords[ky]=Монитор;Тутум;Жараян;БЖБ;Эс;Тармак;Тарых;Колдонуу;
Keywords[lt]=Monitorius;Sistema;Procesas;Procesorius;Atmintis;Tinklas;Retrospektyva;Naudojimas;
Keywords[lv]=Pārraugs;Sistēma;Process;CPU;Procesors;Atmiņa;Tīkls;Vēsture;Lietojums;
Keywords[mjw]=Monitor;System;Process;CPU;Memory;Network;History;Usage;
Keywords[ml]=Monitor;System;Process;CPU;Memory;Network;History;Usage;
Keywords[mr]=मॉनिटर;प्रणाली;प्रोसेस्;CPU;मेमरि;नेटवर्क;इतिहास;वापर;
Keywords[ms]=Pantau;Sistem;Proses;CPU;Ingatan;Rangkaian;Sejarah;Penggunaan;
Keywords[nb]=Overvåking;System;Prosess;CPU;Minne;Nettverk;Historikk;Bruk;
Keywords[ne]=निगरानी;प्रणाली;प्रक्रिया;CPU;स्मृति;सञ्जाल;ईतिहास;प्रयोग;
Keywords[nl]=Monitor;System;Systeem;Process;CPU;Memory;Geheugen;Network;History;Usage;Gebruik;
Keywords[oc]=Monitor;Sistèma;Procèssus;CPU;Memòria;Ret;Istoric;Utilizacion;
Keywords[or]=ମନିଟର୍‌;ତନ୍ତ୍ର;ପଦ୍ଧତି;CPU;ସ୍ମୃତିସ୍ଥାନ;ନେଟୱର୍କ୍‌;ପୁରୁଣା ତଥ୍ୟ;ଉପଯୋଗିତା;
Keywords[pa]=ਨਿਗਾਰਨੀ;ਸਿਸਟਮ;ਕਾਰਵਾਈ;ਪਰੋਸੈਸ,;ਸੀਪੀਯੂ;ਪ੍ਰੋਸੈਸਰ;ਨੈੱਟਵਰਕ;ਅਤੀਤ;ਵਰਤੋਂ;ਮੈਮੋਰੀ;ਪਰੋਸੈਸਰ;
Keywords[pl]=Monitor;System;Proces;CPU;Procesor;Pamięć;Sieć;Historia;Użycie;Zużycie;
Keywords[pt]=Monitor;Sistema;Processo;CPU;Memória;Rede;Histórico;Utilização;
Keywords[pt_BR]=Monitor;Sistema;Processo;CPU;Memória;Rede;Histórico;Uso;
Keywords[ro]=Monitor;System;Process;CPU;Memory;Network;History;Usage;Sistem;Proces;Memorie;Rețea;Istoric;Utilizare;
Keywords[ru]=Монитор;Система;Процесс;Процессор;Память;Сеть;История;Использование;
Keywords[sk]=Monitor;Systém;Proces;Procesor;CPU;Pamäť;Sieť;História;Využitie;
Keywords[sl]=Nadzor;Sistem;Opravila;CPE;OPE;Pomnilnik;Omrežje;Zgodovina;Uporaba;
Keywords[sr]=Monitor;System;Process;CPU;Memory;Network;History;Usage;праћење;систем;процес;процесор;меморија;мрежа;историјат;употреба;монитор;praćenje;sistem;mreža;istorijat;upotreba
Keywords[sr@latin]=praćenje;sistem;proces;procesor;memorija;mreža;istorijat;upotreba;monitor;Monitor;System;Process;CPU;Memory;Network;History;Usage;
Keywords[sv]=Skärm;Monitor;System;Process;CPU;Processor;Minne;Nätverk;Historik;Användning;
Keywords[ta]=திரை;கணினி;செயல்;சிபியூ;நிஅனிவகம்;வலைப்பின்னல்;வரலாறு;பயன்பாடு;
Keywords[te]=మానిటర్;వ్యవస్థ;ప్రోసెస్;సిపియు;జ్ఞాపకశక్తి;నెట్‌వర్క్;చరిత్ర;వాడుక;
Keywords[tg]=Монитор;Система;Раванд;CPU;Хотира;Шабака;Таърих;Истифода;
Keywords[th]=เฝ้าสังเกต;ระบบ;โพรเซส;ซีพียู;หน่วยความจำ;เครือข่าย;สถิติ;การใช้งาน;
Keywords[tr]=System Monitor;Monitor;System;Process;CPU;Memory;Network;History;Usage;İzleyici;Gözlemci;Sistem;Süreç;İşlem;MİB;CPU;Bellek;Ağ;Geçmiş;Kullanım;
Keywords[ug]=Monitor;System;Process;CPU;Memory;Network;History;Usage;كۆزەتكۈچ;سىستېما;ئىجرا;CPU;ئەسلەك;تور;ئىز;ئىشلىتىش نىسبىتى;
Keywords[uk]=Монітор;Система;Процес;Процесор;Пам'ять;Мережа;Історія;Використання;
Keywords[uz]=Monitor;Tizim;Jarayon;CPU;Xotira;Tarmoq;Tarix;Foydalanish;
Keywords[vi]=Monitor;Theo;dõi;theo;doi;System;Hệ;Thống;he;thong;Process;Tiến;Trình;tien;trinh;CPU;Memory;Bộ;Nhớ;bo;nho;Network;Mạng;mang;History;Lịch;sử;lich;su;Usage;Sử;dụng;tiêu;dùng;
Keywords[zh_CN]=Monitor;System;Process;CPU;Memory;Network;History;Usage;监视器;系统;进程;内存;网络;历史;使用;占用;用量;
Keywords[zh_HK]=Monitor;System;Process;CPU;Memory;Network;History;Usage;監視器;系統;處理器;記憶體;網絡;紀錄;使用量;
Keywords[zh_TW]=Monitor;System;Process;CPU;Memory;Network;History;Usage;監視器;系統;處理器;記憶體;網路;紀錄;使用量;
Keywords=Monitor;System;Process;CPU;Memory;Network;History;Usage;
