[Desktop Entry]
Type=Application
Version=1.17.0+58
Name=LocalSend
GenericName=An open source cross-platform alternative to AirDrop
Icon=localsend
Exec=localsend %U
Categories=GTK;FileTransfer;Utility;
Keywords=Sharing;LAN;Files;
StartupNotify=true