[Desktop Entry]
Version=1.0
Name[as]=শব্দৰ মাত্ৰা নিয়ন্ত্ৰণকাৰী
Name[bn_IN]=শব্দের মাত্রা নিয়ন্ত্রণ
Name[ca]=Control del volum
Name[ca@valencia]=Control del volum
Name[cs]=Ovládání hlasitosti
Name[da]=Lydstyrkeregulering
Name[de]=Lautstärkeregler
Name[el]=Έλεγχος έντασης ήχου
Name[es]=Control de volumen
Name[fi]=Äänenvoimakkuus
Name[fr]=Contrôle du volume
Name[gu]=વોલ્યમ નિયંત્રણ
Name[hi]=आवाज निर्धारक
Name[hr]=Upravitelj glasnoće zvuka
Name[hu]=Hangerőszabályzó
Name[it]=Regolazione del volume
Name[ja]=音量調節
Name[kn]=ಧ್ವನಿಪ್ರಮಾಣ ನಿಯಂತ್ರಣ
Name[ko]=음량 조절
Name[lt]=Garsio reguliavimas
Name[ml]=ശബ്ദ നിയന്ത്രണം
Name[mr]=आवाज नियंत्रण
Name[nl]=Volumeregeling
Name[nn]=Lydstyrkekontroll
Name[or]=ଭଲ୍ୟୁମ ନିୟନ୍ତ୍ରଣ
Name[pa]=ਵਾਲੀਅਮ ਕੰਟਰੋਲ
Name[pl]=Sterowanie głośnością
Name[pt]=Controlo de Volume
Name[pt_BR]=Controle de volume
Name[ru]=Громкость
Name[sk]=Ovládanie hlasitosti
Name[sr]=Контрола јачине звука
Name[sr@latin]=Kontrola jačine zvuka
Name[sv]=Volymkontroll
Name[ta]=ஒலியளவு கட்டுப்பாடு
Name[te]=ధ్వని నియంత్రణ
Name[th]=ตัวควบคุมเสียง
Name[tr]=Ses Denetimi
Name[uk]=Керування гучністю
Name[zh_CN]=音量控制
Name[zh_TW]=音量控制
Name[gl]=Control do volume
Name[nb_NO]=Lydstyrkekontroll
Name[sl]=Nastavitev glasnosti
Name[kk]=Дыбыс деңгейі
Name[eu]=Bolumen kontrola
Name[be]=Гучнасць
Name[he]=בקרת שמע
Name[ro]=Control Volum
Name=Volume Control
GenericName[as]=শব্দৰ মাত্ৰা নিয়ন্ত্ৰণকাৰী
GenericName[bn_IN]=শব্দের মাত্রা নিয়ন্ত্রণ
GenericName[ca]=Control del volum
GenericName[ca@valencia]=Control del volum
GenericName[cs]=Ovládání hlasitosti
GenericName[da]=Lydstyrkeregulering
GenericName[de]=Lautstärkeregler
GenericName[el]=Έλεγχος έντασης ήχου
GenericName[es]=Control de volumen
GenericName[fi]=Äänenvoimakkuus
GenericName[fr]=Contrôle du volume
GenericName[gu]=વોલ્યમ નિયંત્રણ
GenericName[hi]=आवाज निर्धारक
GenericName[hr]=Upravitelj glasnoće zvuka
GenericName[hu]=Hangerőszabályzó
GenericName[it]=Regolazione del volume
GenericName[ja]=音量調節
GenericName[kn]=ಧ್ವನಿಪ್ರಮಾಣ ನಿಯಂತ್ರಣ
GenericName[ko]=음량 조절
GenericName[lt]=Garsio reguliavimas
GenericName[ml]=ശബ്ദ നിയന്ത്രണം
GenericName[mr]=आवाज नियंत्रण
GenericName[nl]=Volumeregeling
GenericName[nn]=Lydstyrkekontroll
GenericName[or]=ଭଲ୍ୟୁମ ନିୟନ୍ତ୍ରଣ
GenericName[pa]=ਵਾਲੀਅਮ ਕੰਟਰੋਲ
GenericName[pl]=Sterowanie głośnością
GenericName[pt]=Controlo de Volume
GenericName[pt_BR]=Controle de volume
GenericName[ru]=Громкость
GenericName[sk]=Ovládanie hlasitosti
GenericName[sr]=Контрола јачине звука
GenericName[sr@latin]=Kontrola jačine zvuka
GenericName[sv]=Volymkontroll
GenericName[ta]=ஒலியளவு கட்டுப்பாடு
GenericName[te]=ధ్వని నియంత్రణ
GenericName[th]=ตัวควบคุมเสียง
GenericName[tr]=Ses Denetimi
GenericName[uk]=Керування гучністю
GenericName[zh_CN]=音量控制
GenericName[zh_TW]=音量控制
GenericName[gl]=Control do volume
GenericName[nb_NO]=Lydstyrkekontroll
GenericName[sl]=Nastavitev glasnosti
GenericName[kk]=Дыбыс деңгейі
GenericName[eu]=Bolumen kontrola
GenericName[be]=Гучнасць
GenericName[he]=בקרת שמע
GenericName[ro]=Control Volum
GenericName=Volume Control
Comment[as]=শব্দৰ মাত্ৰা ঠিক কৰক
Comment[bn_IN]=শব্দের মাত্রা পরিবর্তন করুন
Comment[ca]=Ajusta el nivell del volum
Comment[ca@valencia]=Ajusta el volum
Comment[cs]=Upravit úroveň hlasitosti
Comment[da]=Justér lydstyrkeniveauet
Comment[de]=Lautstärke anpassen
Comment[el]=Ρύθμιση επιπέδου έντασης
Comment[es]=Ajustar el nivel de volumen
Comment[fi]=Säädä äänenvoimakkuutta
Comment[fr]=Régler le niveau du volume
Comment[gu]=વોલ્યુમ સ્તરને વ્યવસ્થિત કરો
Comment[hi]=आवाज़ स्तर निर्धारित करें
Comment[hr]=Prilagodite razinu glasnoće zvuka
Comment[hu]=Hangerő beállítása
Comment[it]=Regola il livello del volume
Comment[ja]=音量レベルの調整
Comment[kn]=ಧ್ವನಿ ಪ್ರಮಾಣದ ಮಟ್ಟವನ್ನು ಹೊಂದಿಸಿ
Comment[ko]=음량 레벨 조정
Comment[lt]=Reguliuoti garsio lygį
Comment[ml]=ശബ്ദ ലവല്‍ ഉ‍ചിതമാക്കുക
Comment[mr]=ध्वनिमान स्तर सुस्थित करा
Comment[nl]=Geluidsniveau aanpassen
Comment[nn]=Juster lydstyrke
Comment[or]=ଭଲ୍ୟୁମ ସ୍ତରକୁ ସଜାଡ଼ନ୍ତୁ
Comment[pa]=ਵਾਲੀਅਮ ਲੈਵਲ ਅਡਜੱਸਟ ਕਰੋ
Comment[pl]=Dostosowanie poziomu głośności
Comment[pt]=Ajustar o nível do volume
Comment[pt_BR]=Ajuste o nível do volume
Comment[ru]=Настройка уровня громкости
Comment[sk]=Upraviť úroveň hlasitosti
Comment[sr]=Подесите ниво јачине звука
Comment[sr@latin]=Podesite nivo jačine zvuka
Comment[sv]=Justera volymnivå
Comment[ta]=ஒலியளவு நிலையை சரிப்படுத்து
Comment[te]=ధ్వని స్థాయిను సర్దుము
Comment[th]=ปรับระดับเสียง
Comment[tr]=Ses seviyesini ayarla
Comment[uk]=Скоригуйте рівень гучності
Comment[zh_CN]=调节音量水平
Comment[zh_TW]=調整音量等級
Comment[gl]=Axustar o nivel de volume
Comment[nb_NO]=Juster lydstyrken
Comment[sl]=Nastavi glasnost
Comment[kk]=Дыбыс деңгейін келтіру
Comment[eu]=Doitu bolumen-maila
Comment[be]=Наладка ўзроўню гучнасці
Comment[he]=התאמת עצמת השמע
Comment[ro]=Ajustează nivelul volumului
Comment=Adjust the volume level
Exec=pavucontrol
Icon=multimedia-volume-control
StartupNotify=true
Type=Application
Categories=AudioVideo;Audio;Mixer;GTK;Settings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
Keywords=pavucontrol;PulseAudio;Microphone;Volume;Fade;Balance;Headset;Speakers;Headphones;Audio;Mixer;Output;Input;Devices;Playback;Recording;System Sounds;Sound Card;Settings;Preferences;
