[Desktop Entry]
Name[ar]=عارض الصور
Name[be]=Праглядальнік выяў
Name[bg]=Преглед на изображения
Name[ca]=Visualitzador d'imatges
Name[cs]=Prohlížeč obrázků
Name[da]=Billedfremviser
Name[de]=Bildbetrachter
Name[el]=Πρόγραμμα προβολής εικόνων
Name[en_GB]=Image Viewer
Name[eo]=Bildo-Vidilo
Name[es]=Visor de imágenes
Name[eu]=Irudi-ikustailea
Name[fa]=نمایشگر تصویر
Name[fi]=Kuvakatselin
Name[fil]=Pantingin ng Larawan
Name[fr]=Visionneur d’images
Name[fur]=Visualizadôr imagjins
Name[gl]=Visor de imaxes
Name[he]=מציג תמונות
Name[hi]=Image Viewer
Name[hu]=Képmegjelenítő
Name[id]=Penampil Gambar
Name[ie]=Visor de images
Name[it]=Visualizzatore immagini
Name[ka]=სურათების გალერეა
Name[kab]=Ameẓray n tugniwin
Name[kk]=Суреттер көрсетушісі
Name[ko]=그림 보기
Name[lt]=Paveikslėlių žiūryklė
Name[lv]=Attēla skatītājs
Name[nb]=Bildevisning
Name[ne]=छवि प्रदर्शक
Name[nl]=Afbeeldingsweergave
Name[oc]=Visionador d'imatges
Name[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka obrazów
Name[pt]=Visualizador de imagens
Name[pt_BR]=Visualizador de imagens
Name[ro]=Vizualizator imagini
Name[ru]=Просмотрщик изображений
Name[rw]=Amashusho
Name[sk]=Prehliadač obrázkov
Name[sl]=Pregledovalnik slik
Name[sr]=Прегледач слика
Name[sv]=Bildvisare
Name[th]=โปรแกรมดูภาพ
Name[tr]=Resim Görüntüleyici
Name[uk]=Перегляд зображень
Name[vi]=Bộ xem ảnh
Name[zh_CN]=图像查看器
Name[zh_TW]=影像檢視器
Name=Image Viewer
Exec=loupe %U
Icon=org.gnome.Loupe
DBusActivatable=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;2DGraphics;RasterGraphics;Viewer;
MimeType=image/jpeg;image/png;image/gif;image/webp;image/tiff;image/x-tga;image/vnd-ms.dds;image/x-dds;image/bmp;image/vnd.microsoft.icon;image/vnd.radiance;image/x-exr;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-portable-anymap;image/x-qoi;image/qoi;image/svg+xml;image/svg+xml-compressed;image/avif;image/heic;image/jxl;
Keywords[ar]=Picture;Graphics;Loupe;رسوميات;صور;عدسة;لوب;
Keywords[be]=Picture;Graphics;Loupe;Выява;Відарыс;Малюнак;Графіка;
Keywords[bg]=изображение;картина;графика;picture;graphics;loupe;
Keywords[ca]=Imatge;Gràfics;Loupe;
Keywords[cs]=Obrázek;Obrázky;Snímek;Snímky;Grafika;Loupe;
Keywords[da]=Billede;Grafik;Loupe;
Keywords[de]=Picture;Graphics;Loupe;Bild;Foto;Grafik;Loupe;
Keywords[el]=Εικόνα;Γραφικά;Loupe;
Keywords[en_GB]=Picture;Graphics;Loupe;
Keywords[es]=Imagen;Gráficos;Loupe;
Keywords[eu]=Argazkia;Grafikoak;Loupe;
Keywords[fa]=Picture;Graphics;Loupe;نگاره;نگاشتار;لوپ;عکس;تصویر;
Keywords[fi]=Picture;Graphics;Loupe;kuva;grafiikka;
Keywords[fil]=Picture;Graphics;Loupe;Larawan;
Keywords[fr]=Image;Graphiques;Loupe;
Keywords[fur]=Imagjin;Figure;Grafiche;Loupe;
Keywords[gl]=Imaxes;Gráficos;Loupe;
Keywords[he]=תמונה;תמונות;הצגה;גרפיקה;מציג תמונות;לופ;
Keywords[hi]=चित्र;चित्रोपमा;Loupe;
Keywords[hu]=Fénykép;Kép;Grafika;Loupe;
Keywords[id]=Gambar;Grafis;Loupe;
Keywords[it]=Immagine;Fotografia;Grafica;Immagini;Loupe;
Keywords[ka]=სურათი;გრაფიკა;ლუპა;
Keywords[kab]=Tugna;Ulifen;Loupe;
Keywords[kk]=Picture;Graphics;Loupe;Сурет;Графика;
Keywords[ko]=Picture;사진;그림;Graphics;그래픽;Loupe;루페;
Keywords[lt]=Paveikslėlis;Grafika;Loupe;
Keywords[lv]=Attēls;Grafika;Loupe;
Keywords[nb]=Bilder;Fotografi;Galleri;Grafikk;Loupe;
Keywords[ne]=तस्वीर; ग्राफिक्स; लुप;
Keywords[nl]=Picture;Graphics;Loupe;Foto;Grafisch;Afbeeldingsweergave;Afbeeldingsviewer;
Keywords[oc]=Imatge;grafisme;Loupe;
Keywords[pl]=Obraz;Obrazy;Obrazek;Obrazki;Grafika;Grafiki;Przeglądarka obrazów;Zdjęcie;Zdjęcia;Fotografia;Fotografie;Loupe;
Keywords[pt]=Imagem;Grafismos;Gráficos;Loupe;
Keywords[pt_BR]=Imagem;Foto;Imagens;Fotos;Gráfico;Loupe;
Keywords[ro]=Picture;Graphics;Loupe;Imagine;Grafice;Lupă;
Keywords[ru]=Picture;Graphics;Loupe;Изображение;Графика;
Keywords[sk]=Obrázok;Grafika;Loupe;
Keywords[sl]=Picture;Slideshow;Graphics;slika;diaprojekcija;projekcija;grafika;pregledovalnik slik;lupa;loupe;
Keywords[sr]=Picture;Graphics;Loupe;Слика;Графика;Лупа;Slika;Grafika;Lupa;
Keywords[sv]=Bild;Grafik;Loupe;
Keywords[th]=รูปภาพ;กราฟิก;Loupe;
Keywords[tr]=Image Viewer;Picture;Graphics;Loupe;Resim;Fotoğraf;Grafikler;Görseller;Görüntüleyici;
Keywords[uk]=Picture;Graphics;Loupe;зображення;картинка;графіка;перегляд;зображення;лупе;
Keywords[vi]=Picture;Slideshow;Graphics;Loupe;Hình ảnh;Hinh anh;Trình chiếu;Trinh chieu;Đồ họa;Do hoa;Kính lúp;Kinh lup;
Keywords[zh_CN]=Picture;Graphics;Loupe;图片;图像;照片;图形;放大镜;查看器;观察器;
Keywords[zh_TW]=Picture;Graphics;Loupe;圖片;圖形;影像;秀圖;檢視器;
Keywords=Picture;Graphics;Loupe;
StartupNotify=true
