[Desktop Entry]
Name[ca]=Zenity
Name[cs]=Zenity
Name[de]=Zenity
Name[en_GB]=Zenity
Name[eu]=Zenity
Name[fa]=زنیتی
Name[he]=Zenity
Name[hi]=ज़ेनिटी
Name[hu]=Zenity
Name[id]=Zenity
Name[ka]=Zenity
Name[kk]=Zenity
Name[lt]=Zenity
Name[pl]=Zenity
Name[pt]=Zenity
Name[pt_BR]=Zenity
Name[ru]=Zenity
Name[sl]=Zenity
Name[sr]=Зенит
Name[sv]=Zenity
Name[tr]=Zenity
Name[uk]=Zenity
Name[zh_CN]=Zenity
Name=Zenity
Comment[ca]=Mostra caixes de diàleg de la línia d'ordres
Comment[cs]=Zobrazuje dialogová okna z příkazové řádky
Comment[de]=Dialogfenster aus der Befehlszeile heraus aufrufen
Comment[en_GB]=Display dialogue boxes from the command line
Comment[eu]=Bistaratu elkarrizketa-koadroak komando-lerrotik
Comment[fa]=نمایش جعبه‌های گفت‌وگو از خط فرمان
Comment[he]=הצגת חלוניות משורת הפקודה
Comment[hi]=कमांड लाइन से संवाद बक्से प्रदर्शित करें
Comment[hu]=Párbeszédablakok megjelenítése a parancssorból
Comment[id]=Menampilkan kotak dialog dari baris perintah
Comment[ka]=ფანჯრების ჩვენება ბრძანების სტრიქონიდან
Comment[kk]=Командалық жолдан сұхбат терезелерін көрсету
Comment[lt]=Parodo dialogo langus iš komandų eilutės
Comment[pl]=Wyświetlanie okien dialogowych z wiersza poleceń
Comment[pt]=Exibir caixas de diálogo a partir da linha de comandos
Comment[pt_BR]=Exibe caixas de diálogo da linha de comando
Comment[ru]=Отображение диалоговых окон из командной строки
Comment[sl]=Pokaži pogovorna okna iz ukazne vrstice
Comment[sr]=Приказује прозорче са линије наредби
Comment[sv]=Visa dialogrutor från kommandoraden
Comment[tr]=Komut satırından iletişim kutularını görüntüle
Comment[uk]=Показ діалогових вікон з командного рядка
Comment[zh_CN]=从命令行显示对话框窗口
Comment=Display dialog boxes from the command line
Exec=zenity
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
DBusActivatable=true
X-GNOME-UsesNotifications=true
