[Desktop Entry]
Name=Pinentry
Type=Application
Categories=Qt;Utility;
Exec=/usr/bin/pinentry-qt5
NoDisplay=true
Icon=pinentry
GenericName=Utility for entering GnuPG secrets
X-KDE-Wayland-Interfaces=org_kde_kwin_keystate
