[Desktop Entry]
Name[as]=দূৰৱৰ্তী দৰ্শক
Name[bg]=Remote Viewer
Name[bn_IN]=দূরবর্তী প্রদর্শন
Name[ca]=Visualitzador remot
Name[cs]=Prohlížeč vzdálených
Name[de]=Remote-Viewer
Name[es]=Visor remoto
Name[fr]=Afficheur distant
Name[gu]=દૂરસ્થ દર્શક
Name[hi]=दूरस्थ दर्शक
Name[hu]=Távoli megjelenítő
Name[it]=Visualizzatore remoto
Name[ja]=リモートビューアー
Name[kn]=ದೂರಸ್ಥ ವೀಕ್ಷಕ
Name[ko]=원격 뷰어
Name[ml]=റിമോട്ട് വ്യൂവര്‍
Name[mr]=रिमोट व्युअर
Name[nl]=Viewer op afstand
Name[or]=ସୁଦୂର ପ୍ରଦର୍ଶିକା
Name[pa]=ਰਿਮੋਟ ਦਰਸ਼ਕ
Name[pl]=Zdalne przeglądanie
Name[pt_BR]=Visualizador remoto
Name[pt]=Visualizador Remoto 
Name[ru]=Удалённый рабочий стол
Name[sv]=Fjärrvisare
Name[ta]=தொலைநிலை காட்டி
Name[te]=దూరస్థ దర్శని
Name[tr]=Remote Viewer
Name[uk]=Віддалений переглядач
Name[zh_CN]=远程查看程序
Name[zh_TW]=遠端檢視器
Name[fi]=Etäkatselu
Name=Remote Viewer
Comment[as]=দূৰৱৰ্তী ডেস্কটপসমূহ অভিগম কৰক
Comment[bg]=Достъп до отдалечени десктопи
Comment[bn_IN]=রিমোট ডেস্কটপ অ্যাক্সেস করুন
Comment[ca]=Accediu a escriptoris remots
Comment[cs]=Přístup ke vzdáleným plochám
Comment[de]=Zugriff auf Remote-Desktops
Comment[es]=Acceso a escritorios remotos
Comment[fr]=Accéder à des bureaux distants
Comment[gu]=દૂરસ્થ ડેસ્કટોપો માં પ્રવેશો
Comment[hi]=दूरस्थ डेस्कटॉप की पहुँच लें
Comment[hu]=Távoli számítógépek elérése
Comment[it]=Accedi a desktop remoti
Comment[ja]=リモートデスクトップにアクセスする
Comment[kn]=ದೂರದ ಗಣಕತೆರೆಗಳನ್ನು ನಿಲುಕಿಸಿಕೊಳ್ಳಿ
Comment[ko]=원격 데스크톱 접근
Comment[ml]=വിദൂര പണിയിടങ്ങളിലേക്കു് പ്രവേശിയ്ക്കുക
Comment[mr]=दूरस्त डेस्कटॉपकरिता प्रवेश
Comment[nl]=Toegang tot bureaubladen op afstand
Comment[or]=ସୁଦୂର ଡେସ୍କଟପ ଗୁଡିକୁ ଅଭିଗମ କରନ୍ତୁ
Comment[pa]=ਦੁਰੇਡੇ ਡੈਸਕਟਾਪਾਂ ਵਿੱਚ ਦਖਲ ਦਿਓ
Comment[pl]=Dostęp do zdalnych pulpitów
Comment[pt_BR]=Acesso remoto computadores
Comment[ru]=Доступ к удалённому рабочему столу
Comment[sv]=Gå till fjärrskrivbord
Comment[ta]=தொலை பணிமேடைகளை அணுகுதல்
Comment[te]=దూరపు డెస్క్టాప్లు యాక్సెస్
Comment[tr]=Uzak masaüstlerine erişin
Comment[uk]=Доступ до віддалених стільниць
Comment[zh_CN]=访问远程桌面
Comment[zh_TW]=存取遠端桌面
Comment[id]=Akses desktop jauh
Comment[fi]=Käytä etätyöpöytiä
Comment=Access remote desktops
Exec=remote-viewer %u
Type=Application
Terminal=false
MimeType=x-scheme-handler/spice;x-scheme-handler/spice+unix;x-scheme-handler/spice+tls;application/x-virt-viewer;
StartupNotify=true
Categories=GNOME;GTK;Network;RemoteAccess;
Icon=virt-viewer
