[Desktop Entry]
Version=1.0
Name[ast]=Axustes de Thunar
Name[bg]=Thunar Предпочитания
Name[ca]=Preferències del Thunar
Name[cs]=Předvolby Thunaru
Name[da]=Præferencer for Thunar
Name[de]=Thunar Einstellungen
Name[el]=Προτιμήσεις Thunar
Name[en_GB]=Thunar Preferences
Name[es]=Preferencias de Thunar
Name[et]=Thunari eelistused
Name[eu]=Thunar hobespenak
Name[fi]=Thunarin asetukset
Name[fr]=Thunar Préférences
Name[gl]=Preferencias de Thunar
Name[he]=העדפות Thunar 
Name[hu]=A Thunar beállításai
Name[id]=Sunting Pengaturan Thunar
Name[ie]=Preferenties de Thunar
Name[it]=Preferenze di Thunar
Name[ja]=Thunar の設定
Name[ka]=Thunar-ის მორგება
Name[kk]=Thunar баптаулары
Name[nb]=Innstillinger for Thunar
Name[nl]=Voorkeuren van Thunar
Name[oc]=Preferéncias Thunar
Name[pl]=Preferencje menedżera plików
Name[pt_BR]=Preferências do Thunar
Name[pt]=Preferências do Thunar
Name[ro]=Preferințe Thunar
Name[ru]=Настройки Thunar
Name[sl]=Thunar nastavitve
Name[sq]=Parapëlqime për Thunar-in
Name[sr]=Поставке Тунара
Name[sv]=Thunar inställningar
Name[tr]=Thunar Tercihleri
Name[vec]=Prefarense de Thunar
Name[vi]=Tuỳ chọn Thunar
Name[zh_CN]=Thunar 首选项
Name[zh_TW]=Thunar 偏好設定
Name=Thunar Preferences
Comment[ar]=إعداد مدير الملفات تونار
Comment[ast]=Configura'l xestor de ficheros Thunar
Comment[be]=Наладзіць кіраўніка файлаў
Comment[bg]=Настройване на управлението на файлове Thunar
Comment[bn]=Thunar ফাইল ম্যানেজার কনফিগার করুন
Comment[ca]=Configura el gestor de fitxers Thunar
Comment[cs]=Konfigurace správce souborů Thunar
Comment[da]=Konfigurer Thunar Filhåndteringen
Comment[de]=Dateimanager Thunar einrichten
Comment[el]=Διαμόρφωση του διαχειριστή αρχείων Thunar
Comment[en_AU]=Configure the Thunar file manager
Comment[en_GB]=Configure the Thunar file manager
Comment[es]=Configurar el gestor de archivos Thunar
Comment[et]=Seadista failihaldurit Thunar
Comment[eu]=Konfiguratu Thunar fitxategi kudeatzailea
Comment[fa_IR]=پیکربندی مدیر پروندهٔ Thunar
Comment[fi]=Thunar-tiedostonhallinnan asetukset
Comment[fr]=Configurer le gestionnaire de fichiers Thunar
Comment[gl]=Configurar o xestor de ficheiros Thunar
Comment[he]=הגדרת מנהל הקבצים Thunar
Comment[hr]=Podesi Thunar upravitelja datoteka
Comment[hu]=A Thunar fájlkezelő beállítása
Comment[hy_AM]=Կազմաձեւել Thunar նիշքը
Comment[hye]=Կազմաձեւել Thunar նիշքը
Comment[hy]=Կազմաձևել Thunar նիշքը
Comment[id]=Konfigurasi manajer berkas Thunar
Comment[ie]=Configurar li gerente de files Thunar
Comment[is]=Stilla Thunar skráastjórann
Comment[it]=Configura il gestore dei file Thunar
Comment[ja]=Thunar ファイルマネージャーを設定します
Comment[ka]=Thunar ფაილების მმართველის მორგება
Comment[kk]=Thunar файлдар басқарушысын баптау
Comment[ko]=투나 파일 관리자 설정
Comment[lt]=Konfigūruoti Thunar failų tvarkytuvę
Comment[lv]=Konfigurēt Thunar failu pārvaldnieku
Comment[ms]=Konfigur pengurus fail Thunar
Comment[nb]=Sett opp Thunar Filbehandler
Comment[nl]=Configureer Thunar bestandbeheerder
Comment[nn]=Set opp Thunar filutforskar
Comment[oc]=Configurar lo gestionari de fichièrs Thunar
Comment[pl]=Konfiguruje preferencje menedżera plików Thunar
Comment[pt_BR]=Configurar o gerenciador de arquivos Thunar
Comment[pt]=Configurar o navegador de ficheiros Thunar
Comment[ro]=Configurează gestionarul de fișiere Thunar
Comment[ru]=Настроить проводник Thunar
Comment[sk]=Nastavenia správcu súborov Thunar
Comment[sl]=Uredi nastavitve upravljalnika datotek Thunar
Comment[sq]=Formësoni përgjegjësin e kartelave Thunar
Comment[sr]=Подесите Тунара управника датотека
Comment[sv]=Konfigurera Filhanteraren Thunar
Comment[te]=తునార్ ఫైల్ నిర్వాహకాన్ని స్వరూపించండి
Comment[th]=ตั้งค่าโปรแกรมจัดการแฟ้ม Thunar
Comment[tr]=Thunar dosya yöneticisini yapılandır
Comment[ug]=سۇنار(Thunar) ھۆججەت باشقۇرغۇنى تەڭشەش
Comment[uk]=Налаштувати файловий менеджер Thunar
Comment[ur_PK]=تھنر فائل منیجر مرتب کریں
Comment[ur]=تھنر فائل منیجر مرتب کریں
Comment[vec]=Configurar el zestor de file Thunar
Comment[vi]=Cấu hình trình quản lí tập tin Thunar
Comment[zh_CN]=配置 Thunar 文件管理器
Comment[zh_HK]=設定 Thunar 檔案管理員
Comment[zh_TW]=設定 Thunar 檔案管理員
Comment=Configure the Thunar file manager
Keywords[ast]=tunar;axustes;preferencies;configurar;miniatures;tamañu de ficheru;formatu de data;panel d'atayos;vista n'arbol;llingüetes;
Keywords[be]=thunar;налады;наладка;мініяцюры;памер файлаў;фармат даты;панэль хуткага доступу; выгляд дрэва;укладкі;
Keywords[bg]=thunar;настройки;предпочитания;приспособяване;миниатюри;файлов размер;формат на данните;панел с преки пътища;дървовиден изглед;раздели;
Keywords[ca]=thunar;ajusts;preferències;configurar;miniatures;mida;format;data;dreceres;tauler;vista;arbre;pestanyes;
Keywords[cs]=thunar;nastavení;předvolby;konfigurace;náhledy;velikost souboru;formát data;formát datumu;panel klávesových zkratek;stromové zobrazení;stromový pohled;stromy;taby;tab;karty;karta;panely;panel;
Keywords[da]=thunar;indstillinger;præferencer;konfigurer;miniaturer;filstørrelse;datoformat;genvejsrude;trævisning;faneblade;
Keywords[de]=thunar;Einstellungen;Voreinstellungen;Konfigurieren;Vorschaubilder;Dateigröße;Datumsformat;Verknüpfungsleiste;Baumansicht;Reiter;
Keywords[el]=thunar;ρυθμίσεις;προτιμήσεις;διαμόρφωση;μικρογραφίες;μέγεθος αρχείου;ημερομηνία ;μορφή;πλευρικό ταμπλό συντομεύσεων;εμφάνιση δενδρικής δομής;καρτέλες;
Keywords[en_GB]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[es]=Thunar;ajustes;preferencias;configurar;miniaturas;tamaño;formato;fecha;atajos;panel;vista;árbol;pestañas;
Keywords[et]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;seadistused;eelistused;seadista;pisipilt; pisipildid;kuupäeva vorming;otsetee;otseteed;puuvaade;kaart;kaardid
Keywords[eu]=thunar;ezarpenak;hobespenak;konfiguratu;argazkitxoak;fitxategi tamaina;data;formatua;lasterbide panela;zuhaitz ikuspegia;fitxak;
Keywords[fr]=thunar;paramètres;préférences;configurer;miniatures;taille de fichier;format de date;panneau de raccourcis;arborescence;onglets;
Keywords[gl]=thunar;configuración;preferencias;configurar;miniaturas;tamaño de ficheiro;formato de data;panel de atallos;vista de árbore;lapelas;
Keywords[he]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[hu]=thunar;beállítások;bélyegképek;fájlméret;dátumformátum;könyvjelzők ablaktábla;fanézet;lapok;
Keywords[hy_AM]=thunar;կարգաւորումներ;ընտրանքներ;կազմաձեւել;մանրապատկերներ;նիշքի չափ;ամսաթուի ձեւաչափ;դիւրանցումների վահանակ;ծառային տեսք;ներդիրներ;
Keywords[id]=thunar;pengaturan;preferensi;konfigurasi;keluku;ukuran berkas;format tanggal;panel pintasan;tampilan pohon;tab;
Keywords[ie]=thunar;parametres;preferenties;configurar;miniaturas;grandore;formate de date;locs;árbor;cartes;
Keywords[it]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords[ja]=thunar;設定;環境設定;設定;サムネイル;ファイルサイズ;日付形式;ショートカットペイン;ツリービュー;タブ;
Keywords[kk]=thunar;баптаулар;қалаулар;баптау;кіші көріністер;файл өлшемі;күн пішімі;жарлықтар панелі;ағаш көрінісі;беттер;
Keywords[ko]=thunar;투나;settings;설정;preferences;기본설정;기본 설정;configure;thumbnails;섬네일;file size;파일 크기;파일크기;date format;날짜형식;날짜 형식;shortcuts pane;바로가기창;바로 가기 창;바로가기 창;tree view;트리 보기;tabs;탭;
Keywords[lt]=thunar;nustatymai;nuostatos;konfigūruoti;konfiguruoti;konfigūracija;konfiguracija;miniatiūros;failų dydis;failu dydis;failo dydis;datos formatas;šaukinių polangis;saukiniu polangis;trumpiniu polangis;medžio rodinys;medzio rodinys;kortelės;korteles;
Keywords[ms]=thunar;tetapan;keutamaan;konfigur;imej kenit;fail;saiz;tarikh;format;anak tetingkap pintasan;pandangan pepohon;tab;
Keywords[nb]=thunar;innstillinger;oppsett;konfigurasjon;miniatyrbilder;filstørrelse;datoformat;snarveier;hurtigtaster;trevisning;faner;
Keywords[nl]=thunar;instellingen;voorkeuren;instellen;miniaturen;bestandsgrootte;datumopmaak;snelkoppelingsbalk;boomstructuurweergave;tabbladen;
Keywords[oc]=thunar;paramètres;reglatges;preferéncias;configurar;vinhetas;miniaturas;talha de fichièr;format de data;acorchi;panèl;arbre;onglets;
Keywords[pl]=thunar;ustawienia;preferencje;konfiguracja;miniatury;rozmiar pliku;format daty;położenia;widok drzewa;karty;
Keywords[pt_BR]=thunar;definições;preferências;configuração;miniaturas;tamanho do arquivo;formato da data;painel de atalhos;visualização em árvore;separadores;
Keywords[pt]=thunar;definições;preferências;configurar;miniaturas;tamanho de ficheiro;formato de data;painel de atalhos;vista de árvore;separadores;
Keywords[ro]=thunar;opțiuni;preferințe;configurare;miniaturi;dimensiunea fișierului;formatul datei;panoul de accese directe;vizualizare arborescentă;file;
Keywords[ru]=thunar;настройки;настроить;значки;размер файла;формат даты;панель закладок;древовидный список;вкладки;
Keywords[sk]=thunar;nastavenia;predvoľby;konfigurovať;nastaviť;náhľady;miniatúry;veľkosť súboru;formát dátumu;panel skratiek;stromové;zobrazenie;karty;
Keywords[sl]=thunar; nastavitve; lastnosti;konfiguracija;sličice;velikost datotek;format datuma;bljižnice;drevo;zavihki;
Keywords[sq]=thunar;rregullime;parapëlqime;formësojeni;miniatura;madhësi kartele;format datash;kuadrat shkurtoresh;pamje pemë;skeda;
Keywords[sr]=тунар;поставке;подешавања;подеси;умањене сличице;величина датотеке;облик датума;површ пречица;преглед гранањем;листови;
Keywords[sv]=thunar;inställningar;alternativ;konfigurera;tumnaglar;fil storlek;datum format;genvägsfönster;trädvy;flikar;
Keywords[th]=thunar;ตั้งค่า;ปรับแต่ง;ภาพย่อ;ขนาดแฟ้ม;รูปแบบวันที่;ช่องจุดลัด;ต้นไม้;แท็บ;
Keywords[tr]=thunar;ayarlar;tercihler;yeğlemeler;yapılandır;küçük resimler;dosya boyutu;tarih biçimi;kısayollar bölmesi;ağaç görünümü;sekmeler;
Keywords[vec]=Thunar;configurasion;preferense;configurar;miniature;grandesa;formato;data;scursarołe;paneło;vista;àlbaro;schede;
Keywords[zh_CN]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;设置;首选项;配置;缩略图;文件大小;日期格式;快捷方式栏 ;树状视图;标签;
Keywords[zh_TW]=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Keywords=thunar;settings;preferences;configure;thumbnails;file size;date format;shortcuts pane;tree view;tabs;
Exec=thunar-settings
Icon=org.xfce.thunar
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
