[Desktop Entry]
Name[ar]=مدير الآلة الافتراضية
Name[as]=ভাৰ্চুৱেল ডিভাইচ ব্যৱস্থাপক
Name[bg]=Мениджър на виртуални машини
Name[bn_IN]=ভার্চুয়াল মেশিন ম্যানেজার
Name[bs]=Upravljač virtualnog računala
Name[ca]=Eina de gestió de màquines virtuals
Name[cs]=Správa virtuálních strojů
Name[da]=Administration for virtuel maskine
Name[de]=Virtuelle Maschinenverwaltung
Name[en_GB]=Virtual Machine Manager
Name[es]=Gestor de máquinas virtuales
Name[fa]=مدیر ماشین مجازی
Name[fi]=Virtuaalikoneiden hallitsin
Name[fr]=Gestionnaire de machines virtuelles
Name[fur]=Gjestôr di Machinis Virtuâls
Name[gl]=Máquina xestora virtual
Name[gu]=વર્ચ્યુઅલ મશીન વ્યવસ્થાપક
Name[hi]=वर्चुअल मशीन प्रबंधक
Name[hr]=Upravitelj virtualnih računala
Name[hu]=Virtuális gép vezérlőpult
Name[id]=Manajer Mesin Virtual
Name[ie]=Gerente de virtual machines
Name[it]=Gestore macchine virtuali
Name[ja]=仮想マシンマネージャー
Name[ka]=ვირტუალური მანქანების მმართველი
Name[kn]=ವರ್ಚುವಲ್‌ ಗಣಕ ವ್ಯವಸ್ಥಾಪಕ
Name[ko]=가상 장비 관리자
Name[ml]=വിര്‍ച്ച്വല്‍ മഷീന്‍ മാനേജര്‍
Name[mr]=वर्च्युअल मशीन व्यवस्थापक
Name[ms]=Pengurus Mesin Maya
Name[nl]=Virtuele machine beheerder
Name[or]=ଆଭାସୀ ମେସିନ ପରିଚାଳକ
Name[pa]=ਵਰਚੁਅਲ ਮਸ਼ੀਨ ਮੈਨੇਜਰ
Name[pl]=Menedżer maszyn wirtualnych
Name[pt]=Gestor de Máquinas Virtuais
Name[pt_BR]=Gerenciador de máquinas virtuais
Name[ro]=Gestionar mașină virtuală
Name[ru]=Менеджер виртуальных машин
Name[sk]=Správca virtuálnych počítačov
Name[sr]=Управник виртуелне машине
Name[sr@latin]=Upravnik virtuelne mašine
Name[sv]=Administrerare av virtuella maskiner
Name[ta]=மெய்நிகர் கணினி மேலாளர்
Name[te]=వర్చ్యువల్ కంప్యూటరు నిర్వహణాధికారి
Name[tr]=Virtual Machine Manager
Name[uk]=Інструмент керування віртуальними машинами
Name[zh_CN]=虚拟系统管理器
Name[zh_TW]=虛擬系統管理器
Name=Virtual Machine Manager
Comment[ar]=إدارة الآلات الافتراضية
Comment[ca]=Gestioneu les màquines virtuals
Comment[cs]=Spravovat virtuální stroje
Comment[de]=Virtuelle Maschinen verwalten
Comment[en_GB]=Manage virtual machines
Comment[es]=Gestionar máquinas virtuales
Comment[fi]=Hallitse virtuaalikoneita
Comment[fr]=Gérer des machines virtuelles
Comment[fur]=Gjestìs machinis virtuâls
Comment[hr]=Upravljajte virtualnim računalima
Comment[hu]=Virtuális gépek menedzselése
Comment[id]=Mengelola mesin virtual
Comment[ie]=Gerentie de virtual machines
Comment[it]=Gestisci macchine virtuali
Comment[ja]=仮想マシンの管理
Comment[ka]=ვირტუალური მანქანების მართვა
Comment[ko]=가상 장비 관리
Comment[nl]=Beheer virtuele machines
Comment[pl]=Zarządzanie maszynami wirtualnymi
Comment[pt]=Gerir máquinas virtuais
Comment[pt_BR]=Gerenciar máquinas virtuais
Comment[ro]=Gestionează mașini virtuale
Comment[ru]=Управление виртуальными машинами
Comment[sv]=Hantera virtuella maskiner
Comment[tr]=Sanal makineleri yönet
Comment[uk]=Керування віртуальними машинами
Comment[zh_CN]=管理虚拟系统
Comment[zh_TW]=管理虛擬系統
Comment=Manage virtual machines
Icon=virt-manager
Exec=virt-manager
Type=Application
Terminal=false
Keywords[ar]=vmm;
Keywords[cs]=vmm;
Keywords[de]=vmm;
Keywords[en_GB]=vmm;
Keywords[es]=vmm;
Keywords[fi]=vmm;
Keywords[fr]=vmm ;
Keywords[fur]=vmm;
Keywords[hr]=uvr;
Keywords[hu]=vmm;
Keywords[id]=vmm;
Keywords[ie]=vmm;machine;virtual;
Keywords[it]=vmm;
Keywords[ka]=vmm;
Keywords[ko]=vmm;
Keywords[pl]=vmm;
Keywords[pt_BR]=vmm;
Keywords[ro]=vmm;
Keywords[ru]=vmm;
Keywords[sv]=vmm;
Keywords[tr]=vmm;
Keywords[uk]=vmm;
Keywords[zh_CN]=vmm;
Keywords[zh_TW]=vmm;
Keywords=vmm;
Categories=System;
