[Desktop Entry]
Type=Application
Name[be]=Партал
Name[ca]=Portal
Name[cs]=Portál
Name[da]=Portal
Name[de]=Portal
Name[en_GB]=Portal
Name[es]=Portal
Name[gl]=Portal
Name[he]=שער
Name[hi]=पोर्टल
Name[hr]=Portal
Name[hu]=Portál
Name[id]=Portal
Name[ie]=Portale
Name[it]=Portale
Name[ja]=ポータル
Name[ka]=პორტალი
Name[lt]=Portalas
Name[nl]=Portaal
Name[oc]=Portal
Name[pl]=Portal
Name[pt]=Portal
Name[pt_BR]=Portal
Name[ro]=Portal
Name[ru]=Портал
Name[sk]=Portál
Name[sl]=Portal
Name[sv]=Portal
Name[tr]=Kapı
Name[uk]=Портал
Name[zh_CN]=门户
Name[zh_TW]=入口
Name=Portal
# TRANSLATORS: Don't translate this text (this is icon name)
Icon=applications-system-symbolic
Exec=/usr/lib/xdg-desktop-portal-gtk
NoDisplay=true
